#
#-----------------------------------------
# Activa RewriteEngine
#-----------------------------------------
#RewriteEngine on

#-----------------------------------------
# Eliminar index.php
#-----------------------------------------
#RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml)
#RewriteRule ^(.*)$ index.php/$1 [L]


RewriteEngine on
RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|assets)
RewriteRule ^(.*)$ /sat/index.php/$1 [L]
